<mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            About me
          </mat-panel-title>
        </mat-expansion-panel-header>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    プロフィール
                  </mat-panel-title>
                </mat-expansion-panel-header>
                伊藤 大介 2000 8/12<br>
                 早稲田大学基幹理工学部表現工学科<br>
                 尾形研究室(AI&Robotics) B3<br>
              </mat-expansion-panel>
              <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      リンク
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  gmail: itodaisuke0812@gmail.com<br>
                  github: <a href="https://github.com/shishamoid">https://github.com/shishamoid</a><br>
                  linkedin: <a href="https://www.linkedin.com/in/daisuke-ito-31713a1bb">https://www.linkedin.com/in/daisuke-ito-31713a1bb</a><br>
                </mat-expansion-panel>

      </mat-expansion-panel>

<mat-expansion-panel >
    <mat-expansion-panel-header>
        <mat-panel-title>
            授業/研究室
          </mat-panel-title>
      </mat-expansion-panel-header>

<mat-expansion-panel>
      <mat-expansion-panel-header>
      <mat-panel-title>
          映像制作(unity)
        </mat-panel-title>
  </mat-expansion-panel-header>
        <iframe src="https://www.youtube.com/embed/CRRtge3OpnU"></iframe>
  </mat-expansion-panel>

  <mat-expansion-panel >
      <mat-expansion-panel-header>
      <mat-panel-title>
           冷房消す機械(Arduino)
        </mat-panel-title>
  </mat-expansion-panel-header>
  <iframe src="https://www.youtube.com/embed/DbtciOwwVnc" height="500px"></iframe>
</mat-expansion-panel>

<mat-expansion-panel >
    <mat-expansion-panel-header>
    <mat-panel-title>
          ライントレースロボ(Arduino)
      </mat-panel-title>
</mat-expansion-panel-header>
<iframe src="https://www.youtube.com/embed/pcbxFK7ec74" height="500px"></iframe>
</mat-expansion-panel>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      このアプリについて
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        構成
      </mat-panel-title>
    </mat-expansion-panel-header>
      <img class="architecture" src="../../assets/img/arch1.png">
      <img class="architecture" src="../../assets/img/arch2.png">
  </mat-expansion-panel>
</mat-expansion-panel>