@media screen and (min-width: 960px){
  body{
    width: 80%;
    margin: auto;
  }
  .architecture{
    width: 60%;
    margin: auto;
  }
}
@media screen and (max-width: 960px){
.architecture{
  width: 100%;
}
}
