<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        このアプリについて
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-expansion-panel (opened)="panelOpenState1 = true"
                           (closed)="panelOpenState1 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            アーキテクチャ
          </mat-panel-title>
        </mat-expansion-panel-header>
        <img class="architecture" src="../../assets/img/archi.png">
      </mat-expansion-panel>
  </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState5 = true"
                           (closed)="panelOpenState5 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            About me
          </mat-panel-title>
        </mat-expansion-panel-header>
            <mat-expansion-panel (opened)="panelOpenState6 = true"
                                   (closed)="panelOpenState6 = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    プロフィール
                  </mat-panel-title>
                </mat-expansion-panel-header>
                2000年8/12生
                早稲田大学基幹理工学部表現工学科３年<br>
                尾形研究室(AI&Robotics)所属<br>
                <br>
                資格: 基本情報技術者、SAJスキー検定1級<br>
                経歴<br>
                2020/1 ~ 2021/1 Crystal-Method Co.,Ltd. Engineer intern(1 year)<br>

              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState7 = true"
                                     (closed)="panelOpenState7 = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      リンク集
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  gmail: itodaisuke0812@gmail.com<br>
                  github: <a href="https://github.com/shishamoid">https://github.com/shishamoid</a><br>
                  linkedin: <a href="https://www.linkedin.com/in/daisuke-ito-31713a1bb">https://www.linkedin.com/in/daisuke-ito-31713a1bb</a><br>
                </mat-expansion-panel>

      </mat-expansion-panel>
