<div class="stopwatch">
    <div class="title">Time</div>
    <br>
    <div id="nowtime">0.00</div>
    <br>
    <div class="title">Laptime</div>
    <br>
    <div id="laptime">0.00</div>
  <div class="buttonarea">
    <button id="start" (click)="startTime()">
      スタート
    </button>
    <button id="stop" (click)="stopTime()">
      ストップ
    </button>
    <button id="lap" (click)="Lap()">
      ラップ
    </button>
    <button id="reset" (click)="resetTime()">
      リセット
    </button>
  </div>
</div>
