.chatmessages_flame {
  min-height: 25%;
  overflow: auto;
  background-image: url("../../assets/img/line_chat.png");
  background-size: cover;
}
.othermessage .message{
  margin: 10px;
  background-color: white;
  border: solid;
  border-radius: 7px;
  border-color: white;
}

.mymessage .message{
  margin: 10px;
  line-height: 150%;
  background-color: #84E148;
  border: solid;
  border-color: #84E148;
  border-radius: 7px;
}

.mymessage{
  text-align: right;
  padding: 7px;
}
 .othermessage{
   text-align: left;
   padding: 7px;
 }

.chatroom_title{
  background-color: #454d62;
  text-align: center;
}
.how_to_use{
  border: solid;
  border-color: black;
  text-align: center;
  margin: 0 0 0 auto;

}
 .send_form{
   width: 100%;
}
.send_text{
  width:90%;
  margin: 0 0 0 auto;
}

.date {
  background-color: #5D749D;
  border-radius: 10px;
  text-align: center;
}
.send_button{
  background-color:
}
