<!DOCTYPE html>
  <html lang="ja">

<head>
  <meta charset="UTF-8" />
</head>

<div class="container" fxLayout="column" fxLayoutAlign="center">

  <mat-radio-group name="requestform" [(ngModel)]="requesttype" [ngModelOptions]="{standalone: true}" fxLayout="row">
    <mat-radio-button fxFlex="50%" value="connect">
      ログイン
    </mat-radio-button>
    <mat-radio-button fxFlex="50%" value="create">
      新規をグループ作成
    </mat-radio-button>
  </mat-radio-group>

    <form [formGroup]="roomnameform" (ngSubmit)="connectchat(roomnameform.value,requesttype)" *ngIf="requesttype=='connect'">
      <mat-form-field fxFlex="100%">
      <mat-label for="roomname">
        グループ名を入力
      </mat-label>
      <input matInput id="roomname" type="text" formControlName="roomname">

    </mat-form-field>
    <button class="button" type="submit" fxFlex="20%" mat-raised-button>スタート！</button>
  </form>


  <form [formGroup] = "roomnameform" (ngSubmit) = "connectchat(createnewroom.value,requesttype)" *ngIf="requesttype=='create'">
    <mat-form-field fxFlex="100%">
      <input matInput id="requestroom" type="text" formControlName="roomname">
    </mat-form-field>
      <button class="button" type="submit" fxFlex="20%" mat-raised-button>ルームを作成</button>
    </form>


    <div class="chatmessages_flame" *ngIf="connectstatus" fxLayout="column">
      <div class="chatroom_title"><font color="white" size="5">{{roomname}}</font></div>
      <div *ngFor="let message of chatarray">
        <div *ngIf="message[0]=='mymessage'" class= "mymessage">
        <span class="time"><font size="2">{{message[2]}}</font></span> <span class="message"><font size="4">{{message[1]}}</font></span>
      </div>
      <div *ngIf="message[0]!='mymessage'" class="othermessage">
        <span class="person">{{message[0]}}</span> <span class="message"><font size="4">{{message[1]}}</font></span> <span class="time"><font size="2">{{message[2]}}</font></span>
      </div>
      </div>

      <form [formGroup] = "chatform" (ngSubmit)= "sendmessage(chatform.value)" class="send_form"  fxLayout="row">
          <input formControlName="chatmessage">
          <button type= "submit">送信</button>
          </form>
    </div>

  </div>
<!--<div>{{subject}}</div>-->
