<!DOCTYPE html>
  <html lang="ja">

<head>
  <meta charset="UTF-8" />
</head>

<p>chat works!</p>

<div class="container">

    <form [formGroup]="roomnameform" (ngSubmit)="connectchat(roomnameform.value,'connect')">
    <div>
      <label for="roomname">
        roomname
      </label>
      <input id="roomname" type="text" formControlName="roomname">
    </div>
    <button class="button" type="submit">スタート！</button>
  </form>
  <form [formGroup] = "createnewroom" (ngSubmit) = "connectchat(createnewroom.value,'create')">
    <div>
      <input id="requestroom" type="text" formControlName="createnumber">
      </div>
      <button class="button" type="submit">ルームを作成</button>
    </form>


    <div class="chatmessages_flame">
      <div *ngFor="let message of chatarray" [class.mymessage]="message[0]==username">
        {{message[2]}}<span>{{message[1]}}</span><span>{{message[0]}}</span>
      </div>

      <form [formGroup] = "chatform" (ngSubmit)= "sendmessage(chatform.value)">
          <input formControlName="chatmessage">
          <button type= "submit">送信</button>
          </form>
    </div>

  </div>
<!--<div>{{subject}}</div>-->
