<div fxLayout="column" fxLayoutAlign="center">
  <mat-checkbox [(ngModel)]="how_to_use" class="use_check">使い方を見る</mat-checkbox>
  <div *ngIf="how_to_use" class="how_to_use">
    <p>
      1. 適当な名前とidを作成します。 名前、パスワードどちらかを忘れたらもう一回作ってください。<br>
      2. 作成した名前とパスワードでログインします。<br>
      3. グループを作ります。グループ名とパスワードを覚えておきます。<br>
      4. 話したい人で、グループ名とパスワードを共有し、ログインします。<br>
      5. 同じグループにログインしていると、リアルタイムでチャットができます。<br>
    </p>
  </div>

<form [formGroup]="loginform" (ngSubmit)="create_or_login(loginform.value)">

  <div fxLayout="row" class="select_button">
  <mat-radio-group name="requestform" [(ngModel)]="requesttype" [ngModelOptions]="{standalone: true}">
    <mat-radio-button fxFlex="50%" value="connect">
      ログイン
    </mat-radio-button>
    <mat-radio-button fxFlex="50%" value="create">
      新規ユーザー作成
    </mat-radio-button>
  </mat-radio-group>
  </div>

  <div fxLayout="row">
  <mat-form-field fxFlex="100%">
  <mat-label>名前(最大20文字)</mat-label>
  <input matInput type="text" formControlName="username">
  <button mat-button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
</div>

<div fxLayout="row">
<mat-form-field fxFlex="100%">
<mat-label>パスワード(6~20文字)</mat-label>
<input matInput type="password" formControlName="password">
<button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" >
  <mat-icon>close</mat-icon>
</button>
</mat-form-field>
</div>
  <div fxLayout="row"  fxLayoutAlign="right" class="submit_button">
  <button mat-raised-button class="button" type="submit" *ngIf="requesttype=='connect'">ログイン</button>
  <button mat-raised-button class="button" type="submit" *ngIf="requesttype=='create'">これでユーザーを作成する</button>
  </div>
</form>
</div>
