<form [formGroup]="loginform" (ngSubmit)="create_or_login(loginform.value)">
  <mat-radio-group name="requestform" [(ngModel)]="requesttype" [ngModelOptions]="{standalone: true}">
    <mat-radio-button  value="connect">
      ログイン
    </mat-radio-button>
    <mat-radio-button  value="create">
      新規ユーザー作成
    </mat-radio-button>
  </mat-radio-group>


  <mat-form-field>
  <mat-label>名前(最大20文字)</mat-label>
  <input matInput type="text" formControlName="username">
  <button mat-button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-form-field>
<mat-label>パスワード(最大20文字)</mat-label>
<input matInput type="password" formControlName="password">
<button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" >
  <mat-icon>close</mat-icon>
</button>
</mat-form-field>
  <button class="button" type="submit" *ngIf="requesttype=='connect'">ログイン</button>
  <button class="button" type="submit" *ngIf="requesttype=='create'">作成</button>
</form>
