<p>login works!</p>
<form [formGroup]="loginform" (ngSubmit)="check_user(loginform.value)">

  <div>
    <label for="username">
      ユーザーネーム
    </label>
    <input id="username" type="text" formControlName="username">
  </div>

  <div>
    <label for="password">
      パスワード
    </label>
    <input id="password" type="password" formControlName="password">
  </div>
  <button class="button" type="submit">ログイン</button>
</form>

  <form [formGroup]="createform" (ngSubmit)="create_user(createform.value)">
    <div>
  <label for="newuser">
    <input formControlName="newusername">
    </label>
    </div>
    <div>
    <label for="newpassword">
      <input type="password" formControlName="newpassword">
      </label>
      </div>
    <button class="button" type="submit">ユーザー作成</button>
    </form>
  
