.component_link{
  height: 90%;
}

@media screen and (min-width: 960px)
{
  .component_link{
    width: 50%;
    margin: auto;
  }
}

.contents mat-icon{
  height: 100%;
  font-size: 500%;
  margin:auto;
}

.contents{
  width: 90%;
  margin: auto;
}
.component_link h2{
  height: 50%;
  margin:auto;
}
.explain{
  margin: auto;
}
