<div class="component_link" fxLayout="column" fxLayoutAlign="space-evenly">

   <div class="mat-elevation-z4" matRipple routerLink="/stopwatch" fxLayout="column">

       <div class="contents" fxLayout="row">
        <mat-icon fxFlex="35" >access_time</mat-icon>
        <h2 fxFlex="65">ストップウォッチ</h2>
         <div class="explain">
           2020/1<br>
           第1作
         </div>
       </div>
      </div>

      <div class="mat-elevation-z4" matRipple routerLink="/login" fxLayout="column">

          <div class="contents" fxLayout="row">
           <mat-icon fxFlex="35" >chat</mat-icon>
           <h2 fxFlex="65">リアルタイムチャット</h2>
           <div class="explain">
            2021/1<br>
            GraphQL
           </div>
           </div>
         </div>

         <div class="mat-elevation-z4" matRipple fxLayout="column">

             <div class="contents" fxLayout="row">
              <mat-icon fxFlex="35" >record_voice_over</mat-icon>
              <h2 fxFlex="65">音声合成(制作中)</h2>
              <div class="explain">
              2021/4~<br>
              tacotron2
              </div>
            </div>

            </div>

        <div class="mat-elevation-z4" matRipple routerLink="/others" fxLayout="column">

            <div class="contents" fxLayout="row">
             <mat-icon fxFlex="35" >emoji_symbols</mat-icon>
             <h2 fxFlex="65">About me</h2>
             <div class="explain">
               <span>
               </span>
               </div>
           </div>

         </div>
  </div>
