.component_link{
  text-align: center;
  height: 20%;
  width:100%;
}
.component_link mat-icon{
  height: 50%;
  font-size: 500%;
  margin:auto;
}
.component_link h2{
  height: 50%;
  margin:auto;
}
.explain{
  height: 30%;
  margin: auto;
}
